<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar"
        [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoProduto(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Produto
    </button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Data Criação</th>
    </tr>
  </thead>
  <tbody *ngIf="produtos && produtos.length">
    <tr *ngFor="let produto of produtosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/resources/images/{{produto.imagemURL}}?_ts={{dataAtual}}"
          [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
      </td>
      <td>{{produto.id}}</td>
      <td>{{produto.nome}}</td>
      <td>{{produto.valor}}</td>
      <td>{{produto.dataCriacao | DateTimeFormatPipe}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarProduto(produto, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirProduto(produto, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
      <td>
        <a [routerLink]="['/produto', produto.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!produtos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum produto encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Nome</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
                formControlName="nome" placeholder="Insira o Nome">
              <div *ngIf="registerForm.get('nome').hasError('required') && registerForm.get('nome').touched" class="invalid-feedback">
                Nome é obrigatório.
              </div>
              <div *ngIf="registerForm.get('nome').hasError('minlength') && registerForm.get('nome').touched" class="invalid-feedback">
                Nome deve ter no mínimo 4 Caracters.
              </div>
              <div *ngIf="registerForm.get('nome').hasError('maxlength') && registerForm.get('nome').touched" class="invalid-feedback">
                Nome deve ter no máximo 50 Caracters.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Valor</label>
              <input type="text" currencyMask class="form-control"
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                [ngClass]="{'is-invalid': registerForm.get('valor').errors && registerForm.get('valor').touched}" formControlName="valor" placeholder="R$ 0,00">
              <div *ngIf="registerForm.get('valor').hasError('required') && registerForm.get('valor').touched" class="invalid-feedback">
                Valor é obrigatório.
              </div>
              <div *ngIf="registerForm.get('valor').hasError('min') && registerForm.get('valor').touched" class="invalid-feedback">
                Valor deve ser no mínimo 0.01.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data Criação</label>
              <input type="text" class="form-control" bsDatepicker value="{{dataCriacao | DateTimeFormatPipe}}"
                [(ngModel)]="dataCriacao" [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <table>
                <tr>
                  <td>
                    <button class="btn btn-success" (click)="file.click()">
                      Enviar Imagem
                    </button>
                    <input type="file" #file [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors 
              && registerForm.get('imagemURL').touched}" (change)="onFileChange($event)" class="form-control is-invalid"
                      formControlName="imagemURL" placeholder="" style="display: none">
                  </td>
                </tr>
              </table>
              <div *ngIf="registerForm.get('imagemURL').hasError('required') && registerForm.get('imagemURL').touched" class="invalid-feedback">
                Imagem é obrigatório.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>


<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Produto
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarProduto}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>